@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        background-color: #ede6dd;
     
      
}

p{
    color: #291406;

}

h1{
    font-size:6em;
    color: #291406;
    
}
h2{
    font-size:1.3em;
    font-weight:600;
    letter-spacing: .2rem;
    color:rgb(241, 174, 19);
    
}

.iconsito{
    margin-left:0.5em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    text-align: left;
    height: 100vh;
  
}
.info-section {
    
    padding-left:8em;
    border-radius: 10px;
    width: 50%;
}

.contact-links{
    margin-top:1em;
    display: flex;
    flex-direction: column;
    gap:0.6em;

}

.contact-links a {
    display: flex;

    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.contact-links i {
    margin-right: 8px;
    color:#72350c;
    
}
.profile-image {
  width: 100%;
  height: 100%;
  padding-right:3em;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-section-2{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 179, 0);

}





@media (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }

    .info-section {
        width: 100%;
        padding: 2em;
        text-align: left;
    }

    .info-section-2{
        width:100%;
        background-color: rgb(255, 179, 0);
      
      
    }

    .profile-image {
        width: 100%;
        height: 100%; /* Adjusts height to maintain aspect ratio */
        padding: 0;
    }

    .profile-image img {
      
        border-top-left-radius: 200px;
    }
}


